<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">options</h1>
  </ion-header-bar>
  <ion-content>

    <ion-toggle ng-model="opts.all" ng-change="toogleOpts()" toggle-class="toggle-calm">Check all</ion-toggle>
    <ion-checkbox ng-model="opts.age">Age</ion-checkbox>
    <ion-checkbox ng-model="opts.ethnicity">Ethnicity</ion-checkbox>
    <ion-checkbox ng-model="opts.gender">Gender</ion-checkbox>
    <ion-checkbox ng-model="opts.smiling">Smiling</ion-checkbox>

    <button type="button" class="col button button-positive bottom-button" ng-click="preparOpts()">Send picture</button>
  </ion-content>
</ion-modal-view>
