<ion-view view-title="Home">
  <ion-content class="padding">
    <div ng-hide="mySelfie.nativeURL" class="no-photo border-radius">
      <i class="icon ion-eye-disabled icon-eye"></i>
      <p class="no-photo-text">No photo taken or imported</p>
    </div>

    <div ng-show="mySelfie.nativeURL" class="padding">
      <img ng-src="{{mySelfie.nativeURL}}" class="border-radius" />
      <i class="icon ion-close-circled icon-delete" ng-click="removeActivePicture()"></i>
    </div>

    <div class="actions-buttons row">
      <button type="button" class="col button button-positive bottom-button" ng-click="newPicture()">Take picture</button>

      <button type="button" class="col button button-positive bottom-button" ng-click="getImageFromFiles()">My photos</button>

      <button type="button" class="col button button-positive bottom-button" ng-disabled="haveImg()" ng-click="setOpts()">Send picture</button>
    </div>

  </ion-content>
</ion-view>
