<ion-view view-title="Home">
  <ion-content class="padding">
    <img ng-src="{{mySelfie.nativeURL}}" alt="" />

    <div class="actions-buttons row">
      <button type="button" class="col button button-positive bottom-button" ng-click="newPicture()">Take picture</button>
      <!-- /* voir pour caché le bouton si il n'y a pas de photo */ -->
      <button type="button" class="col button button-positive bottom-button" ng-hide="mySelfie.img.nativeURL.length == 0" ng-click="sendToApi()">Send picture</button>

      <button type="button" class="col button button-positive bottom-button" ng-click="getImageFromFiles()">Gallery</button>
    </div>

  </ion-content>
</ion-view>
