<ion-view view-title="Gallery">
  <ion-content class="padding" overflow-scroll="true">
    <div ng-hide="getNumberOfImages()" class="no-gallery border-radius">
      <i class="icon icon-white ion-images"></i>
      <p class="no-photo-text">Take a photo or import one</p>
    </div>

    <div ng-show="getNumberOfImages()" class="card border-radius" ng-repeat="img in imgs track by img.image_id" style="overflow-x: scroll;">

      <img ng-src="{{img.file.nativeURL}}" alt="" class="item" style="max-width:100%"/>

      <ion-scroll direction="x" class="wide-as-needed item" style="overflow-x: scroll;">
        <div class="item row" ng-repeat="face in img.face" style="overflow-x: scroll;">
          <ion-checkbox style="border:none;"ng-model="face.select" ng-click="imgSelected(face)"></ion-checkbox>
          <div class="col center-align" ng-repeat="(name,attr) in face.attributes">
            {{name}} : {{attr.value}}<span ng-if="name == 'smile'">%</span>
          </div>
        </div>
      </ion-scroll>

      <button class="button red col" ng-click="removePicture(img)">Delete</button>
    </div>
  </ion-content>
</ion-view>
